---
layout: default
title: BZZ - Bati Zhao
---

<div class="intro span-24 last">
  <img class="pic" src="/images/mhfs.jpg" alt="mhfs picture" />
  <p class="span-16">
  I'm <b>Bati Zhao</b>, a web developer living in Shanghai, China. I currently work at <b><a href="http://www.ideal.sh.cn/">Ideal</a></b>
  coding <b>Java</b> apps.
  <br />
  I love <b>open source</b> and try to <b>contribute</b> every once in a while. You can check some of my <b>code</b> and activity on <b><a href="https://github.com/mhfs/">github</a></b>.
  <br />
  Feel free to <b>contact</b> me via <b><a href="mailto:zhaobati@gmail.com">email</a></b> or follow me on <b><a href="https://twitter.com/batizhao">twitter</a></b>.
  </p>
</div>

<div id="homelinks">
  <div class="span-12 code">
    <a href="https://github.com/batizhao/"><b>Code</b> → github.com/batizhao</a>
  </div>
  <div class="span-12 last blog">
    <a href="http://batizhao.github.com">batizhao.github.com ← <b>Blog</b></a>
  </div>
  <div class="span-12 email">
    <a href="mailto:zhaobati@gmail.com"><b>Email</b> → zhaobati@gmail.com</a>
  </div>
  <div class="span-12 last twitter">
    <a href="https://twitter.com/batizhao">@batizhao ← <b>Twitter</b></a>
  </div>
</div>

<hr />

<h3>Recent Blog Entries</h3>

<ul class="post_list">
  {% for post in site.posts limit:10 %}
    {% include post_item.html %}
  {% endfor %}
  <li><a class="archive" href="/archive.html">Full Archive →</a></li>
</ul>

<div class="clear"></div>

